<<<<<<< HEAD
.container {
    /* display: flex;
    flex-direction: column;
    gap: 0.2rem;
    max-width:500px */
=======
.container {
    /* display: flex;
    flex-direction: column;
    gap: 0.2rem;
    max-width:500px */
>>>>>>> origin/main
}